# dependencies
**/node_modules/

# env files
**/.env
**/.env.*
!**/.env.example

# logs
**/*.log
**/logs/

# test coverage
**/coverage/
**/.nyc_output/

# builds
**/dist/
**/build/

# OS/editor
.DS_Store
**/.vscode/
**/.idea/
