NODE_ENV=development
SERVER_PORT=3002

DB_HOST=container-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=ecotrack_container

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
REDIS_URL=redis://redis:6379

AUTH_SERVICE_URL=http://auth-service:3001
CORS_ORIGIN=*
LOG_LEVEL=debug
