NODE_ENV=development
SERVER_PORT=3001

DB_HOST=auth-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=ecotrack_auth

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

JWT_SECRET=your-very-secret-jwt-key-change-this-in-production
JWT_EXPIRY=15m
REFRESH_TOKEN_SECRET=your-very-secret-refresh-token-key-change-this-in-production
REFRESH_TOKEN_EXPIRY=2d

CORS_ORIGIN=*
LOG_LEVEL=debug
